*{
    color: white;
}

#Box-cours{
border: solid 0.5px rgba(255, 255, 255, 0.16);
display: inline-block;
position: relative;
width:38%;
min-height: 250px;
border-radius: 10px;
overflow: hidden;
margin: 30px;
img{
    position: relative;
    width: 100%;
    height: 70%;
}
#info-cours{
    position: relative;
    color: aliceblue;
    top: 0%;
    height: auto;
    padding: 8px;
    z-index: 2;
  button{
    position: relative;
    width: 92%;
    padding: 10px;
    left: 4%;
    bottom: 9%;
    border-radius: 8px;
    color: black;
    border: none;
  }

}
}