body{
  margin: 0px; 
  padding: 0px;
  width: 100%;
 height: fit-content;
background-repeat: no-repeat;
background-color: rgb(243, 243, 243);
 }
 .menunone li{
display: inline;
z-index: 10;
position: relative;
left: 0%;
color: aliceblue;
margin-left: 20px;
top: 2px;
padding: 5px 30px 5px 30px;
border-radius: 10px;
border: 1px solid rgb(122, 5, 5);

 }
#alll{
  overflow: hidden;
}

 #foter p{
  display: none;
 }
 .menunone{
right: 3%;
position: absolute;
z-index: 20;

 }
 #optionmenu{
  display: none;
 }
 *{
   margin: 0px; 
  padding: 0px; 
 }

 #option{
  margin-top: 50px;
  width: 100%;
  height: auto;
 border: 1px solid black;
  display: flex;
overflow-x: scroll;
 }
 #heder{
  z-index: 2;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.012);
  height: 180px;
  color: rgb(255, 255, 255);
  margin: 0px;
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
position: relative;
border-radius: 0px;
backdrop-filter: blur(10px);
background: linear-gradient(rgba(0, 0, 0, 0.937),rgba(0, 0, 0, 0.805));
 
 }

 #heder h2{
  letter-spacing: 2px;
  width: 250px;
font-size: 20px;
margin: 0px;
position: relative;
left: 2%;
top: 15px;
animation: hederh2 3s linear;
opacity: 1;
font-style: italic;
 }
 #serch{
  width: 40%;
  position: relative;
  top: 90px;
  left:55%;
  padding: 8px;
  color: aliceblue;
  background-color: rgb(20, 19, 31);
  border-radius: 10px;
  border: none;
  font-size: 18px;
  
  }
  #imm{
  position: absolute;
  left: 1%;
  top: 40px;
  width: 150px;
  }
 #soc{
   width: 150px;
   background-color: rgba(6, 6, 18, 0.516);
   position: absolute;
   
   padding-left: 15px;
   padding-top: 5px;
   border: 1px solid white;
   border-radius: 0px 0px 10px 10px;
   border-top: none;
   top: 0%;
   z-index: 10;
   animation: soc 20s infinite;
 }
 @keyframes soc {
  0%{
left: 30%;
  }50%{
left: 50%;
  }100%{
    left: 30%;
  }
 }
 .snap{
   position: relative;
  
  margin-left: 80px;
 }
 
 .insta img{
  width: 30px; 
 }
 .snap img{
 width: 30px;
 
 }

 #buttonmenuopen{
   position: absolute;
   right: 1%;
   width: 30px;
   height: 20px;
border: none;
color: aliceblue;
  background-color: rgba(165, 42, 42, 0);
   z-index: 2;
   
 }


 #all{
  margin-top: -20px;
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
 color: aliceblue;
 background-color: rgb(17, 17, 43);

}
.reklam{
  width: 100%;
  height: 180px;
  border: 1px solid rgb(255, 255, 255);
  margin-top: 30px;
  overflow: hidden;
}
.reklam img{
  width: 100%;
  height: 180px;
  border: 1px solid rgb(255, 255, 255);
  animation: reklam 2s;
}
@keyframes reklam {
  0%{
    position: absolute;
 margin-left: -400px;
  }100%{

  }
}
#option{
  margin-top: 50px;
width:auto;
  height: auto;
 border: 1px solid rgba(0, 0, 0, 0.277);
 background-color:rgb(4, 18, 32);
  display: flex;
overflow-x: scroll;
border-radius: 5px;
 }
 #boton{
  width: 100%;
  height: 200px;
 }
 

#dd {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 30px;
  left: 1%;
  width: 70%;
  background-color: rgb(12, 13, 17);
  height: 430px;
  padding-right: 80px;
}

.back{
  width: 100px;
  height: 40px;
  border: none;
  background-color: red;
  color: aliceblue;
  border-radius: 8px;
  position: relative;
  margin: 5px;
  z-index: 3;
   }
   #dd button{
     width: 65%;
     height: 30px;
     border-radius: 10px;
     border: none;
     position: relative;
     left: 0%;
     padding: 10px;
    margin-top: 1px;
    color: black;
    
   }
   #dd img{
    width: 65%;
    height: 80%;
    margin-right: 10px;
   }
   #dd p{
     color: aliceblue;
     position: relative;
     font-size: 13px;
    margin-top: 0px;
    left: 77%;
     width: 120px;
    top: -280px;
    height: 0px;
   }
   
 .div2 {
  margin-top: 20px;
   width: 85%;
   background-color: rgba(5, 7, 116, 0.823);
   height: 500px;
   border: 1px solid rgb(15, 13, 13);
   border-radius: 4px;
   position: relative;
   left: 8%;
   margin-bottom: 10px;
   box-shadow: 0px 0px 20px 5px black;

   
 }
  .div2 img{
   width: 100%;
  }
  #box{
   background-color: rgb(12, 12, 72);
   width: 70%;
   height: 300px;
   position: relative;
   left: 15%;
 margin-top: 40px;
 border-radius: 8px;
 border:  1px solid rgb(18, 13, 13);
 backdrop-filter: blur(40px);
 box-shadow: 0px 0px 20px 5px black;
  }
  #box input{
   display: block;
   position: relative;
   left: 10%;
   margin-top: 30px;
   padding: 10px;
   width: 80%;
   border-radius: 9px;
   border: none;
  }
  #box #sub{
   display: block;
   position: relative;
   left: 25%;
   width: 50%;
   margin-top: 20px;
   background-color: rgba(218, 20, 20, 0.784);
   color: aliceblue;
  }
  #box select{
   display: block;
   position: relative;
   left: 45%;
   width: 150px;
   margin-top: 10px;
   border: 1px solid white;
   padding: 2px;
   border-radius: 7px;
   color: aliceblue;
   font-size: 25px;
   background-color: rgba(0, 0, 0, 0.537);
  }
  #box b{
   width: 100px;
   position: relative;
   left: 45%;
  top: 10px;
   color: aliceblue;
  }
  #all2{
    background-color: rgb(227, 227, 233);
    position: relative;
   margin-top: 0px;
   text-align: center;
   box-shadow: 0px 0px 20px 5px black;

  }
  #tebene{
   color: rgb(5, 13, 21);

  }
  #divrange{
    background-color: rgba(8, 15, 87, 0.932);
    width: 70%;
    position: relative;
    left: 20%;
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    box-shadow: 0px 0px 20px 5px black;

  }
  #d{
    width: 50px;
    padding: 5px;
    position: absolute;
    left: 0px;
    top: 0px;
    border: none;
    border-radius: 0px 0px 8px;
    background-color: rgba(255, 0, 0, 0.767);
    color: aliceblue;
  }
  .range1,.range2{
    width: 70%;
  }
  
  #dreje , #kesh{
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 8px 8px 0px 0px;
    background-color: red;
    color: rgb(255, 255, 255);
    font-size: 25px;
    position: relative;
    margin-bottom: 0px;
   top: 18px;
   left: 8%;
  }
  #all2 #sub{
    width: 200px;
    padding: 15px;
    position: absolute;
    margin-top: 30px;
    border: none;
    border-radius: 9px;
    background-color: black;
    color: aliceblue;
  }
  #icc{
    width: 200px;
    padding: 15px;
    position: absolute;
    margin-top: 30px;
    border: none;
    border-radius: 9px;
    background-color: black;
    color: aliceblue;
  }

#div1{
  position: relative;

  width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 2px black;
  background-color: rgba(9, 5, 75, 0.785);
  backdrop-filter: blur(30px);
  color: rgb(238, 242, 245);
}
#div1 img{
  border-radius: 10px;
  margin-left: 130px;
  margin-top: 10px;
}
#div1 h1{
 
 text-align: center;
}
#div1 button{
 position: relative;
 font-size: 20px;
 left: 10%;
 top: -80px;
 width: 350px;
 background-color: rgba(18, 20, 21, 0);
 color: rgb(246, 249, 251);
 border: none;


}

#div1 #neasen{
  position: relative;
top: -90px;
font-size: 25px;
}
  @media screen and   (max-width : 600px) {

 #all{
  background-color: rgb(6, 6, 27);
  
 }  
 #all h1{
  position: relative;
  top: 40px;
 }  
 #bacheser{
  width: 100%;
  background-color: rgb(48, 48, 50);
  height: 150px;
  margin: 0px;
  position: absolute;
  border-radius: 0px 0px 0px 0px;
z-index: 1;
margin-bottom: 150px;
  }
  #bacheser3{
    width: 5px;
    height: 5px;
    background-color: rgba(166, 255, 0, 0.851);
    border-radius: 50px;
    box-shadow: 0px 0px 50px 20px  rgba(166, 255, 0, 0.782);
    position: fixed;
    left: 70%;
    top: 8%;
  }
  #bacheser2{
    z-index: 0;
    width: 5px;
    height: 5px;
    background-color: rgba(0, 162, 255, 0.856);
    border-radius: 50px;
    box-shadow: 0px 0px 50px 20px  rgba(0, 162, 255, 0.925);
    position: fixed;
    left: 10%;
    top: 5%;

  }

 #heder
 {
  z-index: 2;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.012);
  height: 80px;
  color: rgb(255, 255, 255);
  margin: 0px;
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
position: relative;
border-radius: 0px;
backdrop-filter: blur(10px);
background: linear-gradient(rgba(0, 0, 0, 0.937),rgba(0, 0, 0, 0.805));
  }

#serch{
width: 75%;
position: relative;
top: 30px;
left:12.5%;
padding: 4px;
color: aliceblue;
background-color: rgb(20, 19, 31);
border-radius: 10px;
border: none;
font-size: 14px;

}

.menunone{
display: none;
position: fixed;
top: 0%;
}

#imm{
  width: 50px;
  display: flex;
  left: 2px;
  margin: 0px;
  top: 3px;
}
 .menu
 {
  display: block;
  z-index: 3;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.379);
  height: 160px;
  color: rgb(255, 255, 255);
  margin: 0px;
  box-shadow: 0px 0px 200px 130px black;
  position: fixed;
  border-radius: 0px 0px 4px 4px;
backdrop-filter: blur(30px);

  }
  .mwnuul{
width: 100%;
height: auto;

  }
  .mwnuuldis{
display: none;
  }
  .menu ul li{
width: 85%;
position: relative;
left: 3%;
list-style: none;
margin-top: 11px;
text-align: center;
height: 15px;
padding: 8px;
border-radius: 6px;
border: 1px solid rgb(255, 255, 255);
  }


#optionmenu{
position: fixed;
z-index: 4;
left: 85%;
margin-top: 10px;
border:none;
color: aliceblue;
width: 20px;
display: block;
cursor: pointer;
  }

  .gg-menu-boxed {
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 18px;
    border-radius: 3px;
    border: 2px solid;
   }
   
   .gg-menu-boxed::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 25px;
    height: 2px;
    background: currentColor;
    border-radius: 3px;
    top:5px;
    left: 2px;
    cursor: pointer;
   }
    



  @keyframes heder {
    0%{
background-color: rgba(144, 6, 6, 0.93);
    }50%{
background-color: rgba(0, 0, 255, 0.84);
    }100%{
background-color: rgba(1, 180, 200, 0.99);
    }
  }


#foter{
  background-color: black;
  width: 100%;
  height: 40px;
  color: aliceblue;
  text-align: center;
  position: relative;
  bottom: 0%;
  top: 100%;
}
#foter p{
  position: relative;
top: 20%;
  color: aliceblue;
  text-align: center;

}
*{
  animation: hederh2 0.2s linear;

}
#heder h2{
letter-spacing: 2px;
  width: 200px;
font-size: 13px;
margin: 0px;
position: relative;
left: 35%;
top: 15px;
animation: hederh2 3s linear;
opacity: 1;
display: flex;
font-style: italic;
}
@keyframes hederh2 {
  from{opacity: 0;}
}
legend{
text-align: center;
}

#soc{
  width: 210px;
  background-color: rgba(6, 6, 18, 0);
  position: relative;
  left: 21%;
  height: 25px;
  margin-top: -20px;
  border: none;
  animation: none;
}
.snap{
  position: relative;
 
 margin-left: 140px;
}

.insta img{
 width: 25px; 
 animation:  soshesl 10s  ;
 animation-name: soshesl;
}
.snap img{
width: 25px;
animation: soshesl 10s ;
animation-name: soshesl;
}
@keyframes soshesl {
  0%{
rotate: 0deg;
  }50%{
    rotate: 360deg;
  }100%{
    rotate: 360deg;

  }
}

#all{
  margin-top: -20px;
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
 color: aliceblue;
}
.reklam{
  width: 100%;
  height: 180px;
  border: 1px solid rgb(255, 255, 255);
  margin-top: 30px;
  overflow: hidden;
}
.reklam img{
  width: 100%;
  height: 180px;
  border: 1px solid rgb(255, 255, 255);
  animation: reklam 2s;
}
@keyframes reklam {
  0%{
    position: absolute;
 margin-left: -400px;
  }100%{

  }
}
#option{
  margin-top: 50px;
width:auto;
  height: auto;
 border: 1px solid rgba(0, 0, 0, 0.277);
 background-color:rgb(4, 18, 32);
  display: flex;
overflow-x: scroll;
border-radius: 5px;
 }
 #boton{
  width: 100%;
  height: 200px;
 }
 

#dd {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 30px;
  left: 1%;
  width: 70%;
  background-color: rgb(12, 13, 17);
  height: 230px;
  padding-right: 80px;
}

.back{
  width: 100px;
  height: 40px;
  border: none;
  background-color: red;
  color: aliceblue;
  border-radius: 8px;
  position: relative;
  margin: 5px;
  z-index: 3;
   }
   #dd button{
     width: 160px;
     height: 30px;
     border-radius: 10px;
     border: none;
     position: relative;
     left: 2%;
    margin-top: 5px;
    color: black;
    
   }
   #dd img{
    width: 80%;
    height: 70%;
    margin-right: 10px;
   }
   #dd p{
     color: aliceblue;
     position: relative;
     font-size: 13px;
    margin-top: 0px;
    left: 85%;
     width: 100px;
    top: -150px;
    height: 0px;
   }

   .div2 {
    margin-top: 25px;
    width: 85%;
    background-color: rgb(12, 13, 17);
    height: 300px;
  
     
   }
   #box{
    background-color: rgba(12, 12, 72, 0);
    width: 90%;
    height: 300px;
    position: relative;
    left: 5%;
  margin-top: 0px;
  border-radius: 8px;
  border: none;
  backdrop-filter: blur(40px);
box-shadow: none;
  padding: 0%;
   }
   #box input{
    display: block;
    position: relative;
    width: 80%;
  left: 8%;
  padding: 15px;
  font-size: 17px;
   }
   #box #sub{
    display: block;
    position: relative;
    left: 25%;
    width: 50%;
    margin-top: 30px;
    padding: 15px;
   height: 50px;
    
   }
   #box select{
    display: block;
    position: relative;
    left: 25%;
    width: 40%;
   height: 25px;
   font-size: 15px;
   }
   #box b{
    width: 100px;
    position: relative;
    left: 37%;
   top: 15px;
    color: rgb(251, 3, 3);
   }
   
  
  #divrange{
    background-color: rgba(8, 15, 87, 0.932);
    width: 70%;
    position: relative;
    left: 10%;
   top: -20px;
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    box-shadow: 0px 0px 20px 5px black;

  }
  #d{
    width: 50px;
    padding: 5px;
    position: absolute;
    left: 0px;
    top: 0px;
    border: none;
    border-radius: 0px 0px 8px;
    background-color: rgba(255, 0, 0, 0.767);
    color: aliceblue;
  }
  .range1,.range2{
    width: 80%;
   
  }
 #foter p{
  display: block;
 }
  #dreje , #kesh{
    background-color: rgb(144, 5, 5);
    color: rgb(255, 255, 255);
    font-size: 20px;
   left: 1%;
   top: 0%;
   margin-top: 0px;
   margin-bottom: 0px;
  }
  #all2 #sub{
 padding: 20px;
  left: 25%;
  height: 50px;
  }
  #all2{
    height: 700px;
  }
  #icc{
 
    left: 25%;
  }

  #show{
   
    position: absolute;
    top: 15%;
   }
   #closinfo{
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
    border: none;
   }
   #closinfo{
    width: 60px;
    position: relative;
    top: 30px;
    right: 120px;
    z-index: 5;
    height: 25px;
   }

  #div1{
    position: relative;
    width: 95%;
    height: 350px;
    left: 2.5%;
    top: 20px;
    border: none;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 0px 160px 150px rgba(43, 44, 46, 0.771);
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(30px);
    color: rgb(238, 242, 245);
    opacity: 1;
    animation: info 1s linear;
  }
  
  @keyframes info {
    from{opacity: 0;}
  }
  
  #div1 img{
    border-radius: 10px;
    margin-left: 80px;
    margin-top: 10px;
  }
  #div1 h1{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  }
  #div1 button{
   position: relative;
   font-size: 20px;
   left: 1%;
   top:5px;
   width: 0%;
   height:auto;
   padding-bottom: 20px;
   overflow: hidden;
   background-color: rgba(18, 20, 21, 0);
   color: rgb(246, 249, 251);
   border: none;
   margin-top: 0px;
  display: inline;
  animation: inf 2s steps(50) forwards;
  }
  @keyframes inf {
    0%{
width: 0px;
    }100%{
width: 97%;

    }
  }
  #div1 #neasen{
    position: relative;
  top: 0px;
  font-size: 25px;
  }
  #div1 img{
   position: relative;
   left: -10%;
   width: 150px;
   margin-top: 20px;
  }
  #closinfo{
    position: absolute;
    top: 8%;
    left: 6%;
  }
#bn{
  width: 100%;
  height: 160px;
  background-color: rgba(2, 18, 87, 0.542);
  border-radius: 0px 0px 7px 7px ;
  border: none;
  z-index: 1;
  position: absolute;
  text-align: center;
  backdrop-filter: blur(30px);
  animation: 2s;
  animation-name: menu;
}
#bn ul{
 
  height: fit-content;
}
#bn ul li{
 margin-top:7px;
 border: 1px solid wheat;
 background-color: rgba(0, 72, 255, 0);
 width: 80%;
 position: relative;
 left: 10%;
 padding: 5px;
 border-radius: 5px;
backdrop-filter: blur(10px);
list-style: none;
animation: 2s;
animation-name: menuli;
}
#bn li a{
  text-decoration: none;
  color: aliceblue;
  letter-spacing: 1px;
}

@keyframes menu {
  0%{
height: 0px;

  }100%{

  }
}
@keyframes menuli {
  0%{
left: 200px;

  }50%{
  }
}
 



.gg-menu-right {
  transform: scale(var(--ggs,1))
 }
 
 .gg-menu-right,
 .gg-menu-right::after,
 .gg-menu-right::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 3px;
  border-radius: 3px;
  background: currentColor;
 
 }
 
 .gg-menu-right::after,
 .gg-menu-right::before {
  content: "";
  position: absolute;
  top: -6px;
  right: 0;
  width: 10px
 }
 
 .gg-menu-right::after {
  top: 6px;
  width: 24px
 } 
 .gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 32px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px
 }
 
 .gg-close::after,
 .gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 26px;
  height: 2px;
  background: currentColor;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px
 }
 
 .gg-close::after {
  transform: rotate(-45deg)
 }
 
 .gg-time {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 2px solid transparent;
  box-shadow: 0 0 0 2px currentColor
 }
 
 .gg-time::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 7px;
  height: 7px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  top: 1px;
  left: 5px
 } 
 .gg-time{
 margin-left: 30%;
 }

  }








  #div11{
    width: 80%;
    position: relative;
    left: 10%;
    top: 10px;
    align-content: center;
    border-radius: 3px;
    height: 90vh;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.399);
    }
    #imgeys{
      width: 100%;
      height: 65%;
      border-radius: 3px;
     background-size: contain;
     background-position: bottom center;
    }
    #psear{
      width: 100%;
      height: auto;
      color: black;
position: relative;
background-color: rgba(252, 250, 250, 0);
    font-size: 17px;
    font-style: bold;
    border: none;
  
    }
    #buttona{
    display: inline;
    position: relative;
    width: 30%;
    padding: 8px;
    top: 20px;
    margin-left: 10px;
    left: -1%;
    border: none;
    background-color: rgb(4, 82, 183);
    color: aliceblue;
    border-radius: 10px;
    font-size: 17px;
    }
    #next{
      display: inline;
    position: relative;
    width: 30%;
    padding: 8px;
    top: 40px;
    left: 35%;
    border: none;
    background-color: rgb(183, 4, 4);
    color: aliceblue;
    border-radius: 10px;
    font-size: 17px;
    }
    .active{
    height: 45px;
    box-shadow: 0px 0px 20px 4px rgb(0, 0, 0);
    }
    .w{
    box-shadow: 0px 0px 20px 5px rgb(243, 238, 238);
    }
    #for{
      position: relative;
      width: 100px;
      top: 7%;
      left: 45%;
    }
    #h1reja{
      position: relative;
      text-align: center;
      top: 20%;
border: 1px solid black;
width: 80%;
left: 10%;
border-radius: 7px;
    }
    #jsadediv{
      
      background-color: rgb(238, 239, 247);
     height: 10px;
      position: relative;
      left: 1%;
      top: 30%;
      border-radius: 10px;
      animation-name: reja ;
      animation: reja 5s;
    }
    #jsadediv1{
      
      background-color: rgb(20, 22, 28);
     height: 25px;
      position: relative;
      left: 0%;
      top: 10%;
      border-radius: 0px;
      
    }
  @keyframes reja {
    0%{
      width: 0%;
      background-color: red;
    }30%{

      background-color: brown;

    }50%{
background-color: green;
    }80%{
background-color: rgb(0, 255, 26);
    } 100%{
    
    }
  }
    
  #jsadebutton{
    border: none;
    position: relative;
    left: 44%;
    top: 14%;
    margin-top: 24px;
    font-size: 16px;
    background-color: rgba(250, 250, 250, 0);
    color: black;
  }
    #gshte{
      position: relative;
      width: 80%;
      left: 25%;
      top: 2%;
    }
    .vew{
      display: none;
    }
    #anjam{
      width: 50%;
      height: 150px;
      position: absolute;
      top: 30%;
      left: 25%;
      border-radius: 5px;
      border: 1px solid black;
      background-color: aliceblue;
      color: black;
      box-shadow: 0px 0px 1000px 600px rgba(28, 23, 23, 0.901);
      animation-name: anjam ;
      animation: anjam 3s;
    }

    @keyframes anjam {
      0%{
        top: -500px;
      }100%{

      }
    }


    #anjam h4{
      margin-top: 10px;
      color: black;
     text-align: center;
      
    }
    
    #anjam button{
      color: rgb(240, 229, 229);
      background-color: rgb(4, 4, 186);
      border-radius: 10px;
      width: 60%;
      border: none;
      padding: 10px;
      position: relative;
      margin-top: 34px;
      top: 40%;
     left: 20%;
    }
    
    #infoanjam {
      color: rgb(12, 4, 4);
      background-color: rgba(255, 255, 255, 0.912);
      border-radius: 4px;
      width: 80%;
      height: 270px;
      border: none;
      position: relative;
     left: 10%;
     box-shadow: 0px 0px 1000px 1000px rgba(28, 23, 23, 0.918);

    }
    #closanjam{
      width: 80px;
      height: 25px;
      background-color: brown;
      position: relative;
      left: 40%;
    margin-top: 60px;
      border: none;
      border-radius: 8px;
    }
    #link{
      color: rgb(255, 255, 255);
      text-decoration: none;

    }
#spann{
  width: 300px;
  height: 500px;
  position: absolute;
  background-color: red;
  
}
.spa{
  background-color: red;
}

#div-heder-button{
  position: relative;
  width: 100%;
  height: auto;
  
  display: flex;
  overflow-x: scroll;
  button{
   min-width: 30%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    color: black;
    left: 3px;
    
  }
}
